/* Page Style CSS */
body {
  margin: 0;
}

* {
  background-color: #18191A;
  font-family: "proxima-nova" , "sans-serif";
  font-weight: 700;
}

/* Navigation Bar CSS */

.navBarDiv {
  display: flex;
}

.navBarBlock {
  display: block;
  flex-grow: 2;
}

.primaryNavBar {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  background-color: #242526;
  padding: 20px;
  margin-top: 0;
  margin-left: -10px;
}

.primaryNavBar li {
  background-color: #242526;
}

.primaryNavBar a {
  position: relative;
  text-decoration: none;
  background-color: #242526;
  color: #E4E6EB;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.primaryNavBar a::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 18px; 
    background: #E4E6EB;
}

.primaryNavBar a::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.primaryNavBar a:hover::after {
  transform: scale(1, 1);
}

.secondaryNavBar {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  background-color: #242526;
  padding: 20px;
  margin-top: 0;
  margin-right: 0px;
}

.secondaryNavBar li {
  background-color: #242526;
}

.secondaryNavBar img {
  background-color: #242526;
  height: 19px;
  margin-bottom: -5px;
  margin-right: 5px;
  margin-left: 5px;
}

.secondaryNavBar a {
  position: relative;
  text-decoration: none;
  background-color: #242526;
  color: #E4E6EB;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.secondaryNavBar a::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 18px; 
    background: #E4E6EB;
}

.secondaryNavBar a::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.secondaryNavBar a:hover::after {
  transform: scale(1, 1);
}

.mainlogoDiv {
  background-color: #242526;
  margin-bottom: 50px;
}

.mainlogo {
  padding: 2px;
  height: 50px;
  width: 100px;
  margin-left: 170px;
  background-color: #242526;
}

/* Footer CSS */

.navBarDiv {
  display: flex;
}

.footerNavBar {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #242526;
  padding: 20px;
  margin-top: 0;
}

.footerNavBar li {
  background-color: #242526;
}

.footerNavBar a {
  position: relative;
  text-decoration: none;
  background-color: #242526;
  color: #E4E6EB;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.footerNavBar a::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 18px; 
    background: #E4E6EB;
}

.footerNavBar a::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.footerNavBar a:hover::after {
  transform: scale(1, 1);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 59px;
}

/* Home Page CSS */

/* Project Page CSS */

.projectTable {
  table-layout: fixed;
  position: fixed;
  margin: 100px 200px;
  color: #E4E6EB;
  border: 25px;
}

.projectTable th {
  font-size: 30px;
  padding: -10px 300px;
  
}

.projectTable td {
  padding-bottom: 20px;
  padding-left: 20px;
  width: 45%;
  vertical-align: top;
}

.projectTable a{
  text-decoration: none;
  color: #E4E6EB;
}



